/* Reset geral para garantir que o padding, margin e box-sizing sejam consistentes */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: radial-gradient(ellipse at center, #17882c 1%, #00510f 100%);
    color: white;
    padding: 40px 10%;
    text-align: center;
}

header .cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    margin-right: 20px;
}

header .textoLogo p {
    margin: 0;
}

header .textoLogo h1 {
    margin: 0;
}

/* Estilo do menu para telas grandes */
header .menu {
    display: flex;
}

header .menu a {
    text-decoration: none;
    color: white;
    margin-left: 2rem;
    font-size: 1.2rem;
    position: relative;
    padding-bottom: 5px;
    margin-right: 2rem;
}

header .menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

header .menu a:hover::after {
    width: 100%;
}

header .navbar {
    display: none;
}

/* Estilo para o menu hamburguer */
.navbar-toggler {
    border: none;
    background-color: transparent;
}

.navbar-toggler-icon {
    background-color: white;
}

/* Responsividade para telas menores que 1024px */
@media (max-width: 1024px) {

    header .cabecalho {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .navbar-toggler {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header .menu {
        display: none; /* Esconde o menu normal em telas menores */
    }

    .navbar-collapse {
        text-align: center;
    }

    header .navbar {
        display: flex;
    }

    header .nav-link {
        color: white;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-item {
        margin: 10px 0;
    }
}

/* Para telas pequenas (480px e menores) */
@media (max-width: 480px) {
    header .textoLogo h1 {
        font-size: 1.5rem; /* Ajusta o tamanho da logo para telas pequenas */
    }

    .navbar-nav .nav-link {
        font-size: 1rem;
    }
}