.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fundamentacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.fundamentacao h1 {
    margin: 1rem;
}