* {
    padding: 0;
    margin: 0;
}

header {
    background-image: radial-gradient(ellipse at center,#17882c 1%,#00510f 100%);
    color: white;
    padding: 70px;
    height: 20vh;
}

header a {
    text-decoration: none;
    color: white;
    margin: 2rem 15rem 0 0;
    font-size: large;
}

.cabecalho {
    height: 1vh;
}

.textoLogo {
    margin: 3rem 3rem 0 0;
}

.conteudo {
    height: 75vh;
    margin: 1rem;
}

.formulario {
    height: 20vh;
}

.formulario label {
    margin: 0 0 0 1.3rem;
}

.btn {
    margin: 0 0 0 2.5rem;
}