.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.alunos h1{
    margin: 1rem;
}

.alunos li{
    margin: 2rem;
    width: 100%;
}

.alunos img {
    width: 50px;
}

.linha {
    display: flex;
    align-items: center;
}